
.competencias {
    display: grid;
    place-items: center;
    margin-bottom: 150px;
}

.competencias h2 {
    color: #FF9D00;
    font-family: "League Spartan", sans-serif;
    font-size: 54px;
    text-align: center;
}

.primero {
    display: flex;
}

.segundo {
    display: flex;
}

.primero .circulo_uno,
.primero .circulo_dos {
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    margin-right: 20px;
    text-align: justify;
}

.segundo .circulo_tres,
.segundo .circulo_cuatro {
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    margin-right: 20px;
    text-align: center;
}